main {
  margin: auto;
  width: 80%;
  display: block;
  margin-bottom: 50px;
  min-height: 650px;
}

.form {  
  padding: 20px;
  width: 300px;
}

.form > div {
  min-width: 300px;
}
.form > div > label {
  margin-right: 20px;
}
.form > div > input {
  width: 100%;
  margin-bottom: 10px;
}