.categoriesMenu, .productsMenu {
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  transition: all 1000ms ease;
  list-style: none;
  background: rgb(34, 84, 84);
  padding: 30px;
  margin-left: 50px;
  width: 100px;
}

.categoriesMenu.activeCategoriesMenu, .activeProductsListMenu {
  opacity: 1;
}
.categoriesMenu > li {
  line-height: 30px;
}

.productsMenu {
  margin-left: 160px;
  width: 200px;
}