header, footer {
  padding: 0 50px;
}
#menuButton {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 17px;
}
.headerLink {
  text-decoration: none;
  color: black;
}
#mainTitle {
  margin-left: -50%;
}
#cart {
  margin-left: 10px;
}