#productsList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
h2 {
  text-align: center;
  font-size: 30px;
}
.oneProduct {
  width: 32%;
  margin: 30px 0;
}
.productName {
  text-align: center;
}
.productListImage {
  width: 300px;
}